*{margin:0;padding:0;}
body {font-size: 12px;margin: 20px;}
/*核心CSS*/
.box,p {
	margin:0 auto;
	text-align:center;
	width:300px;
}
.CRviewer {
	position:relative;
	overflow:hidden;
	height:300px;
	width:300px;
	background:#fff url(images/loading.gif) center center no-repeat;
	border:1px solid #000;
}
p{margin-top:30px;}