HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OBJECT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DFN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
Q {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
CAPTION {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1.5
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TABLE {
	VERTICAL-ALIGN: middle
}
TD {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
BLOCKQUOTE:before {
	CONTENT: ""
}
BLOCKQUOTE:after {
	CONTENT: ""
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
BLOCKQUOTE {
	QUOTES: "" ""
}
Q {
	QUOTES: "" ""
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.info {
	BACKGROUND: #fafcfc
}
.borderTop {
	BORDER-TOP: #eee 1px solid
}
.append-0 {
	PADDING-RIGHT: 20px
}
BODY {
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #222; FONT-SIZE: 80%; PADDING-TOP: 30px
}
H1 {
	COLOR: #111; FONT-WEIGHT: normal
}
H2 {
	COLOR: #111; FONT-WEIGHT: normal
}
H3 {
	COLOR: #111; FONT-WEIGHT: normal
}
H4 {
	COLOR: #111; FONT-WEIGHT: normal
}
H5 {
	COLOR: #111; FONT-WEIGHT: normal
}
H6 {
	COLOR: #111; FONT-WEIGHT: normal
}
H1 {
	LINE-HEIGHT: 1; MARGIN-BOTTOM: 0.5em; FONT-SIZE: 2.6em
}
H2 {
	MARGIN-BOTTOM: 0.75em; FONT-SIZE: 1.9em
}
H3 {
	LINE-HEIGHT: 1; MARGIN-BOTTOM: 1em; FONT-SIZE: 1.4em
}
H4 {
	LINE-HEIGHT: 1.25; MARGIN-BOTTOM: 1.25em; FONT-SIZE: 1.1em
}
H5 {
	MARGIN-BOTTOM: 1.5em; FONT-SIZE: 1em; FONT-WEIGHT: bold
}
H6 {
	FONT-SIZE: 1em; FONT-WEIGHT: bold
}
H1 IMG {
	MARGIN: 0px
}
H2 IMG {
	MARGIN: 0px
}
H3 IMG {
	MARGIN: 0px
}
H4 IMG {
	MARGIN: 0px
}
H5 IMG {
	MARGIN: 0px
}
H6 IMG {
	MARGIN: 0px
}
P {
	LINE-HEIGHT: 1.65em; MARGIN: 0px 0px 1.5em
}
P IMG.left {
	PADDING-BOTTOM: 0px; MARGIN: 1.5em 1.5em 1.5em 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
P IMG.right {
	MARGIN: 1.5em 0px 1.5em 1.5em; FLOAT: right
}
A:focus {
	COLOR: #000
}
A:hover {
	COLOR: #000
}
A {
	COLOR: #009; TEXT-DECORATION: underline
}
BLOCKQUOTE {
	FONT-STYLE: italic; MARGIN: 1.5em; COLOR: #666
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
DFN {
	FONT-STYLE: italic
}
DFN {
	FONT-WEIGHT: bold
}
SUP {
	LINE-HEIGHT: 0
}
SUB {
	LINE-HEIGHT: 0
}
ABBR {
	BORDER-BOTTOM: #666 1px dotted
}
ACRONYM {
	BORDER-BOTTOM: #666 1px dotted
}
ADDRESS {
	FONT-STYLE: italic; MARGIN: 0px 0px 1.5em
}
DEL {
	COLOR: #666
}
PRE {
	MARGIN: 1.5em 0px; WHITE-SPACE: pre
}
PRE {
	FONT: 13px/1.5 "andale mono", "lucida console", monospace
}
CODE {
	FONT: 13px/1.5 "andale mono", "lucida console", monospace
}
TT {
	FONT: 13px/1.5 "andale mono", "lucida console", monospace
}
LI UL {
	MARGIN: 0px 1.5em
}
LI OL {
	MARGIN: 0px 1.5em
}
UL {
	MARGIN: 0px 1.5em 1.5em 3.5em
}
OL {
	MARGIN: 0px 1.5em 1.5em 3.5em
}
UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: decimal
}
OL.alpha {
	LIST-STYLE-TYPE: upper-alpha
}
DL {
	MARGIN: 0px 0px 1.5em
}
DL DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-LEFT: 1.5em
}
TABLE {
	WIDTH: 100%; MARGIN-BOTTOM: 1.4em
}
TH {
	FONT-WEIGHT: bold
}
THEAD TH {
	BACKGROUND: #c3d9ff
}
TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
CAPTION {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
TR.even TD {
	BACKGROUND: #e5ecf9
}
TFOOT {
	FONT-STYLE: italic
}
CAPTION {
	BACKGROUND: #eee
}
.small {
	LINE-HEIGHT: 1.87em; MARGIN-BOTTOM: 1.87em; FONT-SIZE: 0.85em
}
.large {
	LINE-HEIGHT: 2.5em; MARGIN-BOTTOM: 1.25em; FONT-SIZE: 1.2em
}
.hide {
	DISPLAY: none
}
.quiet {
	COLOR: #666
}
.loud {
	COLOR: #000
}
.highlight {
	BACKGROUND: #ff0
}
.added {
	BACKGROUND: #060; COLOR: #fff
}
.removed {
	BACKGROUND: #900; COLOR: #fff
}
.first {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.last {
	PADDING-RIGHT: 0px; MARGIN-RIGHT: 0px
}
.top {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
.bottom {
	PADDING-BOTTOM: 0px; MARGIN-BOTTOM: 0px
}
.center {
	TEXT-ALIGN: center
}
LABEL {
	FONT-WEIGHT: bold
}
FIELDSET {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1.4em; MARGIN: 0px 0px 1.5em; PADDING-LEFT: 1.4em; PADDING-RIGHT: 1.4em; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1.4em
}
LEGEND {
	FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
INPUT[type=text] {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
INPUT[type=password] {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
INPUT.text {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
INPUT.title {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
SELECT {
	BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BACKGROUND-COLOR: #fff; BORDER-TOP: #bbb 1px solid; BORDER-RIGHT: #bbb 1px solid
}
INPUT[type=text]:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
INPUT[type=password]:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
INPUT.text:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
INPUT.title:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
TEXTAREA:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
SELECT:focus {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
INPUT[type=text] {
	MARGIN: 0.5em 0px
}
INPUT[type=password] {
	MARGIN: 0.5em 0px
}
INPUT.text {
	MARGIN: 0.5em 0px
}
INPUT.title {
	MARGIN: 0.5em 0px
}
TEXTAREA {
	MARGIN: 0.5em 0px
}
SELECT {
	MARGIN: 0.5em 0px
}
INPUT.text {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 300px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
INPUT.title {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 300px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
INPUT.title {
	FONT-SIZE: 1.5em
}
TEXTAREA {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 390px; PADDING-RIGHT: 5px; HEIGHT: 250px; PADDING-TOP: 5px
}
INPUT[type=checkbox] {
	POSITION: relative; TOP: 0.25em
}
INPUT[type=radio] {
	POSITION: relative; TOP: 0.25em
}
INPUT.checkbox {
	POSITION: relative; TOP: 0.25em
}
INPUT.radio {
	POSITION: relative; TOP: 0.25em
}
FORM.inline {
	LINE-HEIGHT: 3
}
FORM.inline P {
	MARGIN-BOTTOM: 0px
}
.error {
	BORDER-BOTTOM: #ddd 2px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; MARGIN-BOTTOM: 1em; BORDER-TOP: #ddd 2px solid; BORDER-RIGHT: #ddd 2px solid; PADDING-TOP: 0.8em
}
.notice {
	BORDER-BOTTOM: #ddd 2px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; MARGIN-BOTTOM: 1em; BORDER-TOP: #ddd 2px solid; BORDER-RIGHT: #ddd 2px solid; PADDING-TOP: 0.8em
}
.success {
	BORDER-BOTTOM: #ddd 2px solid; BORDER-LEFT: #ddd 2px solid; PADDING-BOTTOM: 0.8em; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; MARGIN-BOTTOM: 1em; BORDER-TOP: #ddd 2px solid; BORDER-RIGHT: #ddd 2px solid; PADDING-TOP: 0.8em
}
.error {
	BORDER-BOTTOM-COLOR: #fbc2c4; BORDER-TOP-COLOR: #fbc2c4; BACKGROUND: #fbe3e4; COLOR: #8a1f11; BORDER-RIGHT-COLOR: #fbc2c4; BORDER-LEFT-COLOR: #fbc2c4
}
.notice {
	BORDER-BOTTOM-COLOR: #ffd324; BORDER-TOP-COLOR: #ffd324; BACKGROUND: #fff6bf; COLOR: #514721; BORDER-RIGHT-COLOR: #ffd324; BORDER-LEFT-COLOR: #ffd324
}
.success {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; COLOR: #264409; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
.error A {
	COLOR: #8a1f11
}
.notice A {
	COLOR: #514721
}
.success A {
	COLOR: #264409
}
.container {
	MARGIN: 0px auto; WIDTH: 790px
}
.showgrid {
	BACKGROUND: url(src/grid.png)
}
.column {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-1 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-2 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-3 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-4 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-5 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-6 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-7 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-8 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-9 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-10 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-11 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-12 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-13 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-14 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-15 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-16 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-17 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-18 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-19 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-20 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-21 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-22 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-23 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.span-24 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.last {
	MARGIN-RIGHT: 0px
}
DIV.last {
	MARGIN-RIGHT: 0px
}
.span-1 {
	WIDTH: 30px
}
.span-2 {
	WIDTH: 70px
}
.span-3 {
	WIDTH: 110px
}
.span-4 {
	WIDTH: 150px
}
.span-5 {
	WIDTH: 190px
}
.span-6 {
	WIDTH: 230px
}
.span-7 {
	WIDTH: 270px
}
.span-8 {
	WIDTH: 310px
}
.span-9 {
	WIDTH: 350px
}
.span-10 {
	WIDTH: 390px
}
.span-11 {
	WIDTH: 430px
}
.span-12 {
	WIDTH: 470px
}
.span-13 {
	WIDTH: 510px
}
.span-14 {
	WIDTH: 550px
}
.span-15 {
	WIDTH: 590px
}
.span-16 {
	WIDTH: 630px
}
.span-17 {
	WIDTH: 670px
}
.span-18 {
	WIDTH: 710px
}
.span-19 {
	WIDTH: 750px
}
.span-20 {
	WIDTH: 790px
}
.span-21 {
	WIDTH: 830px
}
.span-22 {
	WIDTH: 870px
}
.span-23 {
	WIDTH: 910px
}
.span-24 {
	MARGIN: 0px; WIDTH: 950px
}
DIV.span-24 {
	MARGIN: 0px; WIDTH: 950px
}
INPUT.span-1 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-1 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-2 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-2 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-3 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-3 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-4 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-4 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-5 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-5 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-6 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-6 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-7 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-7 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-8 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-8 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-9 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-9 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-10 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-10 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-11 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-11 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-12 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-12 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-13 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-13 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-14 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-14 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-15 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-15 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-16 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-16 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-17 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-17 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-18 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-18 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-19 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-19 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-20 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-20 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-21 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-21 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-22 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-22 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-23 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-23 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-24 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
TEXTAREA.span-24 {
	BORDER-RIGHT-WIDTH: 1px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BORDER-LEFT-WIDTH: 1px !important
}
INPUT.span-1 {
	WIDTH: 18px !important
}
TEXTAREA.span-1 {
	WIDTH: 18px !important
}
INPUT.span-2 {
	WIDTH: 58px !important
}
TEXTAREA.span-2 {
	WIDTH: 58px !important
}
INPUT.span-3 {
	WIDTH: 98px !important
}
TEXTAREA.span-3 {
	WIDTH: 98px !important
}
INPUT.span-4 {
	WIDTH: 138px !important
}
TEXTAREA.span-4 {
	WIDTH: 138px !important
}
INPUT.span-5 {
	WIDTH: 178px !important
}
TEXTAREA.span-5 {
	WIDTH: 178px !important
}
INPUT.span-6 {
	WIDTH: 218px !important
}
TEXTAREA.span-6 {
	WIDTH: 218px !important
}
INPUT.span-7 {
	WIDTH: 258px !important
}
TEXTAREA.span-7 {
	WIDTH: 258px !important
}
INPUT.span-8 {
	WIDTH: 298px !important
}
TEXTAREA.span-8 {
	WIDTH: 298px !important
}
INPUT.span-9 {
	WIDTH: 338px !important
}
TEXTAREA.span-9 {
	WIDTH: 338px !important
}
INPUT.span-10 {
	WIDTH: 378px !important
}
TEXTAREA.span-10 {
	WIDTH: 378px !important
}
INPUT.span-11 {
	WIDTH: 418px !important
}
TEXTAREA.span-11 {
	WIDTH: 418px !important
}
INPUT.span-12 {
	WIDTH: 458px !important
}
TEXTAREA.span-12 {
	WIDTH: 458px !important
}
INPUT.span-13 {
	WIDTH: 498px !important
}
TEXTAREA.span-13 {
	WIDTH: 498px !important
}
INPUT.span-14 {
	WIDTH: 538px !important
}
TEXTAREA.span-14 {
	WIDTH: 538px !important
}
INPUT.span-15 {
	WIDTH: 578px !important
}
TEXTAREA.span-15 {
	WIDTH: 578px !important
}
INPUT.span-16 {
	WIDTH: 618px !important
}
TEXTAREA.span-16 {
	WIDTH: 618px !important
}
INPUT.span-17 {
	WIDTH: 658px !important
}
TEXTAREA.span-17 {
	WIDTH: 658px !important
}
INPUT.span-18 {
	WIDTH: 698px !important
}
TEXTAREA.span-18 {
	WIDTH: 698px !important
}
INPUT.span-19 {
	WIDTH: 738px !important
}
TEXTAREA.span-19 {
	WIDTH: 738px !important
}
INPUT.span-20 {
	WIDTH: 778px !important
}
TEXTAREA.span-20 {
	WIDTH: 778px !important
}
INPUT.span-21 {
	WIDTH: 818px !important
}
TEXTAREA.span-21 {
	WIDTH: 818px !important
}
INPUT.span-22 {
	WIDTH: 858px !important
}
TEXTAREA.span-22 {
	WIDTH: 858px !important
}
INPUT.span-23 {
	WIDTH: 898px !important
}
TEXTAREA.span-23 {
	WIDTH: 898px !important
}
INPUT.span-24 {
	WIDTH: 938px !important
}
TEXTAREA.span-24 {
	WIDTH: 938px !important
}
.append-1 {
	PADDING-RIGHT: 40px
}
.append-2 {
	PADDING-RIGHT: 80px
}
.append-3 {
	PADDING-RIGHT: 120px
}
.append-4 {
	PADDING-RIGHT: 160px
}
.append-5 {
	PADDING-RIGHT: 200px
}
.append-6 {
	PADDING-RIGHT: 240px
}
.append-7 {
	PADDING-RIGHT: 280px
}
.append-8 {
	PADDING-RIGHT: 320px
}
.append-9 {
	PADDING-RIGHT: 360px
}
.append-10 {
	PADDING-RIGHT: 400px
}
.append-11 {
	PADDING-RIGHT: 440px
}
.append-12 {
	PADDING-RIGHT: 480px
}
.append-13 {
	PADDING-RIGHT: 520px
}
.append-14 {
	PADDING-RIGHT: 560px
}
.append-15 {
	PADDING-RIGHT: 600px
}
.append-16 {
	PADDING-RIGHT: 640px
}
.append-17 {
	PADDING-RIGHT: 680px
}
.append-18 {
	PADDING-RIGHT: 720px
}
.append-19 {
	PADDING-RIGHT: 760px
}
.append-20 {
	PADDING-RIGHT: 800px
}
.append-21 {
	PADDING-RIGHT: 840px
}
.append-22 {
	PADDING-RIGHT: 880px
}
.append-23 {
	PADDING-RIGHT: 920px
}
.prepend-1 {
	PADDING-LEFT: 40px
}
.prepend-2 {
	PADDING-LEFT: 80px
}
.prepend-3 {
	PADDING-LEFT: 120px
}
.prepend-4 {
	PADDING-LEFT: 160px
}
.prepend-5 {
	PADDING-LEFT: 200px
}
.prepend-6 {
	PADDING-LEFT: 240px
}
.prepend-7 {
	PADDING-LEFT: 280px
}
.prepend-8 {
	PADDING-LEFT: 320px
}
.prepend-9 {
	PADDING-LEFT: 360px
}
.prepend-10 {
	PADDING-LEFT: 400px
}
.prepend-11 {
	PADDING-LEFT: 440px
}
.prepend-12 {
	PADDING-LEFT: 480px
}
.prepend-13 {
	PADDING-LEFT: 520px
}
.prepend-14 {
	PADDING-LEFT: 560px
}
.prepend-15 {
	PADDING-LEFT: 600px
}
.prepend-16 {
	PADDING-LEFT: 640px
}
.prepend-17 {
	PADDING-LEFT: 680px
}
.prepend-18 {
	PADDING-LEFT: 720px
}
.prepend-19 {
	PADDING-LEFT: 760px
}
.prepend-20 {
	PADDING-LEFT: 800px
}
.prepend-21 {
	PADDING-LEFT: 840px
}
.prepend-22 {
	PADDING-LEFT: 880px
}
.prepend-23 {
	PADDING-LEFT: 920px
}
DIV.border {
	PADDING-RIGHT: 4px; MARGIN-RIGHT: 5px; BORDER-RIGHT: #eee 1px solid
}
DIV.colborder {
	PADDING-RIGHT: 24px; MARGIN-RIGHT: 25px; BORDER-RIGHT: #eee 1px solid
}
DIV.colborderTop {
	BORDER-TOP: #eee 1px solid
}
.pull-1 {
	MARGIN-LEFT: -40px
}
.pull-2 {
	MARGIN-LEFT: -80px
}
.pull-3 {
	MARGIN-LEFT: -120px
}
.pull-4 {
	MARGIN-LEFT: -160px
}
.pull-5 {
	MARGIN-LEFT: -200px
}
.pull-6 {
	MARGIN-LEFT: -240px
}
.pull-7 {
	MARGIN-LEFT: -280px
}
.pull-8 {
	MARGIN-LEFT: -320px
}
.pull-9 {
	MARGIN-LEFT: -360px
}
.pull-10 {
	MARGIN-LEFT: -400px
}
.pull-11 {
	MARGIN-LEFT: -440px
}
.pull-12 {
	MARGIN-LEFT: -480px
}
.pull-13 {
	MARGIN-LEFT: -520px
}
.pull-14 {
	MARGIN-LEFT: -560px
}
.pull-15 {
	MARGIN-LEFT: -600px
}
.pull-16 {
	MARGIN-LEFT: -640px
}
.pull-17 {
	MARGIN-LEFT: -680px
}
.pull-18 {
	MARGIN-LEFT: -720px
}
.pull-19 {
	MARGIN-LEFT: -760px
}
.pull-20 {
	MARGIN-LEFT: -800px
}
.pull-21 {
	MARGIN-LEFT: -840px
}
.pull-22 {
	MARGIN-LEFT: -880px
}
.pull-23 {
	MARGIN-LEFT: -920px
}
.pull-24 {
	MARGIN-LEFT: -960px
}
.pull-1 {
	POSITION: relative; FLOAT: left
}
.pull-2 {
	POSITION: relative; FLOAT: left
}
.pull-3 {
	POSITION: relative; FLOAT: left
}
.pull-4 {
	POSITION: relative; FLOAT: left
}
.pull-5 {
	POSITION: relative; FLOAT: left
}
.pull-6 {
	POSITION: relative; FLOAT: left
}
.pull-7 {
	POSITION: relative; FLOAT: left
}
.pull-8 {
	POSITION: relative; FLOAT: left
}
.pull-9 {
	POSITION: relative; FLOAT: left
}
.pull-10 {
	POSITION: relative; FLOAT: left
}
.pull-11 {
	POSITION: relative; FLOAT: left
}
.pull-12 {
	POSITION: relative; FLOAT: left
}
.pull-13 {
	POSITION: relative; FLOAT: left
}
.pull-14 {
	POSITION: relative; FLOAT: left
}
.pull-15 {
	POSITION: relative; FLOAT: left
}
.pull-16 {
	POSITION: relative; FLOAT: left
}
.pull-17 {
	POSITION: relative; FLOAT: left
}
.pull-18 {
	POSITION: relative; FLOAT: left
}
.pull-19 {
	POSITION: relative; FLOAT: left
}
.pull-20 {
	POSITION: relative; FLOAT: left
}
.pull-21 {
	POSITION: relative; FLOAT: left
}
.pull-22 {
	POSITION: relative; FLOAT: left
}
.pull-23 {
	POSITION: relative; FLOAT: left
}
.pull-24 {
	POSITION: relative; FLOAT: left
}
.push-1 {
	MARGIN: 0px -40px 1.5em 40px
}
.push-2 {
	MARGIN: 0px -80px 1.5em 80px
}
.push-3 {
	MARGIN: 0px -120px 1.5em 120px
}
.push-4 {
	MARGIN: 0px -160px 1.5em 160px
}
.push-5 {
	MARGIN: 0px -200px 1.5em 200px
}
.push-6 {
	MARGIN: 0px -240px 1.5em 240px
}
.push-7 {
	MARGIN: 0px -280px 1.5em 280px
}
.push-8 {
	MARGIN: 0px -320px 1.5em 320px
}
.push-9 {
	MARGIN: 0px -360px 1.5em 360px
}
.push-10 {
	MARGIN: 0px -400px 1.5em 400px
}
.push-11 {
	MARGIN: 0px -440px 1.5em 440px
}
.push-12 {
	MARGIN: 0px -480px 1.5em 480px
}
.push-13 {
	MARGIN: 0px -520px 1.5em 520px
}
.push-14 {
	MARGIN: 0px -560px 1.5em 560px
}
.push-15 {
	MARGIN: 0px -600px 1.5em 600px
}
.push-16 {
	MARGIN: 0px -640px 1.5em 640px
}
.push-17 {
	MARGIN: 0px -680px 1.5em 680px
}
.push-18 {
	MARGIN: 0px -720px 1.5em 720px
}
.push-19 {
	MARGIN: 0px -760px 1.5em 760px
}
.push-20 {
	MARGIN: 0px -800px 1.5em 800px
}
.push-21 {
	MARGIN: 0px -840px 1.5em 840px
}
.push-22 {
	MARGIN: 0px -880px 1.5em 880px
}
.push-23 {
	MARGIN: 0px -920px 1.5em 920px
}
.push-24 {
	MARGIN: 0px -960px 1.5em 960px
}
.push-1 {
	POSITION: relative; FLOAT: right
}
.push-2 {
	POSITION: relative; FLOAT: right
}
.push-3 {
	POSITION: relative; FLOAT: right
}
.push-4 {
	POSITION: relative; FLOAT: right
}
.push-5 {
	POSITION: relative; FLOAT: right
}
.push-6 {
	POSITION: relative; FLOAT: right
}
.push-7 {
	POSITION: relative; FLOAT: right
}
.push-8 {
	POSITION: relative; FLOAT: right
}
.push-9 {
	POSITION: relative; FLOAT: right
}
.push-10 {
	POSITION: relative; FLOAT: right
}
.push-11 {
	POSITION: relative; FLOAT: right
}
.push-12 {
	POSITION: relative; FLOAT: right
}
.push-13 {
	POSITION: relative; FLOAT: right
}
.push-14 {
	POSITION: relative; FLOAT: right
}
.push-15 {
	POSITION: relative; FLOAT: right
}
.push-16 {
	POSITION: relative; FLOAT: right
}
.push-17 {
	POSITION: relative; FLOAT: right
}
.push-18 {
	POSITION: relative; FLOAT: right
}
.push-19 {
	POSITION: relative; FLOAT: right
}
.push-20 {
	POSITION: relative; FLOAT: right
}
.push-21 {
	POSITION: relative; FLOAT: right
}
.push-22 {
	POSITION: relative; FLOAT: right
}
.push-23 {
	POSITION: relative; FLOAT: right
}
.push-24 {
	POSITION: relative; FLOAT: right
}
.prepend-top {
	MARGIN-TOP: 1.5em
}
.append-bottom {
	MARGIN-BOTTOM: 1.5em
}
.box {
	PADDING-BOTTOM: 1.5em; PADDING-LEFT: 1.5em; PADDING-RIGHT: 1.5em; MARGIN-BOTTOM: 1.5em; BACKGROUND: #e5ecf9; PADDING-TOP: 1.5em
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MARGIN: 0px 0px 1.45em; WIDTH: 100%; BACKGROUND: #ddd; FLOAT: none; HEIGHT: 0.1em; COLOR: #ddd; CLEAR: both; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
HR.space {
	BACKGROUND: #fff; COLOR: #fff
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "\0020"
}
.container:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: "\0020"
}
.clearfix {
	DISPLAY: block
}
.container {
	DISPLAY: block
}
.clear {
	CLEAR: both
}
