body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td, form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif}
body{color:#000;background:#99896f;}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}ol,ul{list-style:none}
img,fieldset{border:0;vertical-align:middle}
.clearfix:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}.clearfix{*zoom:1}
.clear{font-size:0;line-height:0;height:0;overflow:hidden;clear:both;visibility:hidden}
.fl,.mark{float:left}.fr,.subMark{float:right}
.spanclass,.contentdiv{display:none}
a{color:#000;text-decoration:none}a:hover{color:#884400;text-decoration:underline}
.mb10{margin-bottom:10px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.cp{ cursor:pointer;}

/*顶部导航*/

.dWrap{ width:990px; margin:0 auto;}
.dPicList{ border-top:2px solid #a27b52; border-left:1px solid #cecece; border-right:1px solid #cecece; border-bottom:1px solid #cecece;}
.dSmallList .iMiddlePic,.dSmallList .iBigPic,.dSmallList .sSideBox .sIntro,.dSmallList .sSideBox .sMore,.dSmallList .sStar .gray,.dSmallList .sLeftBtn,.dSmallList .sRightBtn,.dSmallList .dSmallPicBox,.dSmallList .noList{ display:none;}
.dSmallList .ulBigPic .sTitle{ height:32px; line-height:32px; text-align:center; font-size:14px; font-weight:700; color:#333; word-wrap:break-word; word-break:break-all;}
.ulBigPic .sTitle a{ color:#333;}
.ulBigPic .sTitle a:hover{ color:#840;}


.dBigList{ position:relative;}
.dBigList .ulBigPic{ width:868px; height:444px; padding:20px 60px 0; overflow:hidden;}
.dBigList .ulBigPic li{ width:868px; height:444px; display:none;}
.dBigList .ulBigPic .liSelected{ display:block;}
.dBigList .ulBigPic img{ border:1px solid #dedede; padding:2px; background-color:#fff;}
.dBigList .ulBigPic .sPic{ width:570px; float:left; overflow:hidden;}
.dBigList .ulBigPic .sSideBox{ width:290px; float:right; overflow:hidden;}
.dBigList .sSideBox span{ width:290px; display:block; overflow:hidden;}
.dBigList .iSmallPic,.dBigList .iMiddlePic{ display:none;}
.dBigList .ulBigPic .sTitle{ height:32px; line-height:32px; font-size:14px; font-weight:700; color:#333;}
.dBigList .ulBigPic .sPrice{ height:18px; line-height:18px;}
.dBigList .ulBigPic .sPrice .money{ font-size:16px;}
.dBigList .ulBigPic .sIntro{ line-height:24px; color:#666; word-wrap:break-word; word-break:break-all;}
.dBigList .ulBigPic .sMore{ height:24px; line-height:24px;}
.dBigList .ulBigPic .sMore a{ color:#841;}
.dBigList .ulBigPic .gray{ color:#666;}
.dBigList .ulBigPic .red{ color:#e00;}

.dBigList .sLeftBtnA,.dBigList .sLeftBtnASel,.dBigList .sLeftBtnABan,.dBigList .sRightBtnA,.dBigList .sRightBtnASel,.dBigList .sRightBtnABan{ width:38px; height:86px; display:block; position:absolute; top:190px; background:url(../images/bgArt.png) no-repeat;}
.dBigList .sLeftBtnA,.dBigList .sLeftBtnASel,.dBigList .sRightBtnA,.dBigList .sRightBtnASel{ cursor:pointer;}
.dBigList .sLeftBtnA,.dBigList .sLeftBtnASel,.dBigList .sLeftBtnABan{ left:10px;}
.dBigList .sLeftBtnA{ background-position:-236px -224px;}
.dBigList .sLeftBtnASel{ background-position:-314px -224px;}
.dBigList .sLeftBtnABan{ background-position:-392px -224px;}
.dBigList .sRightBtnA,.dBigList .sRightBtnASel,.dBigList .sRightBtnABan{ right:10px;}
.dBigList .sRightBtnA{ background-position:-275px -224px;}
.dBigList .sRightBtnASel{ background-position:-353px -224px;}
.dBigList .sRightBtnABan{ background-position:-431px -224px;}

.dBigList .dSmallPicBox{ width:988px; height:154px; position:relative;}
.dBigList .dSmallPic{ width:882px; height:144px; position:absolute; left:53px; top:0px; overflow:hidden;}
.dBigList .dSmallPic ul{ position:absolute;}
.dBigList .dSmallPic li{ width:141px; height:139px; border:1px solid #fff; padding:3px 2px 0; float:left; display:inline; cursor:pointer; overflow:hidden;}
.dBigList .dSmallPic .sPic{ width:141px; height:106px; display:block;}
.dBigList .dSmallPic .sPic img{ border:1px solid #ddd; padding:2px;}
.dBigList .dSmallPic .sTitle{ width:141px; height:30px; line-height:30px; display:block; text-align:center; color:#333; overflow:hidden;}
.dBigList .dSmallPic .liSelected{ border-color:#e9c184;}
.dBigList .dSmallPic .liSelected .sPic img{ border-color:#fff;}

.dBigList .sLeftBtnB,.dBigList .sLeftBtnBSel,.dBigList .sLeftBtnBBan,.dBigList .sRightBtnB,.dBigList .sRightBtnBSel,.dBigList .sRightBtnBBan{ width:22px; height:37px; display:block; position:absolute; top:45px; background:url(../images/bgArt.png) no-repeat;}
.dBigList .sLeftBtnB,.dBigList .sLeftBtnBSel,.dBigList .sRightBtnB,.dBigList .sRightBtnBSel{ cursor:pointer;}
.dBigList .sLeftBtnB,.dBigList .sLeftBtnBSel,.dBigList .sLeftBtnBBan{ left:20px;}
.dBigList .sLeftBtnB{ background-position:-590px -164px;}
.dBigList .sLeftBtnBSel{ background-position:-613px -164px;}
.dBigList .sLeftBtnBBan{ background-position:-907px -223px;}
.dBigList .sRightBtnB,.dBigList .sRightBtnBSel,.dBigList .sRightBtnBBan{ right:20px;}
.dBigList .sRightBtnB{ background-position:-636px -164px;}
.dBigList .sRightBtnBSel{ background-position:-659px -164px;}
.dBigList .sRightBtnBBan{ background-position:-930px -223px;}
.dBigList .noList{ display:none;}

#m_left,#m_right{ width:22px; height:37px; display:block; position:absolute; top:65px; background:url(../images/bgArt.png) no-repeat;}
#m_left{ left:38px; background-position:-590px -164px;}
#m_left:hover{ background-position:-613px -164px;}
#m_right{ right:38px; background-position:-636px -164px;}
#m_right:hover{ background-position:-659px -164px;}


/*以下样式用于专题背景很复杂的情况，去除底部的背景，使底部风格和页面统一*/
html body{ background:#fff;}
body #footer .aLinks {background:none; border:none;color:#767676;width:auto; margin:20px auto 10px}
body #footer,body #footer a,body #footer .aLinks a,body #footer .aLinks a:hover,body #footer .fLink1 a,body #footer .fLink1 a:hover,body #footer .fLink2 a,body #footer .fLink2 a:hover{color:#767676;}
