/* CSS Document */
body{margin:0px;padding:0px;}
#menu{margin-left:22px;height:26px;overflow:hidden;_margin-bottom:-20px;}
#menu a{width:54px;font-size:14px;height:20px;padding-top:6px;color:#333333; text-decoration:none;text-align:center;display:block;float:left;overflow:hidden;}
#menu a:hover{color:#FF0000;}
#menu a.cur{background-image:url(img/m_bg.png);font-weight:bold;}
.cls{clear:both;overflow:hidden;font-size:0px;}
.search-in{width:500px;height:34px;background-color:#DFEEF6;border:1px solid #CEDFEF;padding-top:1px;_padding-top:0px;overflow:hidden;}
.search-in #key{width:375px;margin-left:5px;height:23px;height:24px\9;+height:21px;border:1px solid #73B0EE; vertical-align:bottom;margin-right:5px;line-height:23px;}
.search-in #submit{width:102px;height:28px; background-image:url(img/button.jpg);border:0;font-size:14px;font-weight:bold;color:#FFFFFF;vertical-align:middle;margin-top:2px;margin-top:3px\9;cursor:hand;}
#sps{font-size:12px;padding-top:5px;margin-left:10px;}
#sps input{margin-left:5px;}
#sps a{margin-right:3px; text-decoration:none;color:#333333}
#sps a:hover{color:#999999}