  HTML {
	BACKGROUND: #fff
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;FONT-FAMILY: Verdana, Arial, sans-serief; FONT-SIZE: 12px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
  #txtPassword{color:#000}
  #thinking {
	WIDTH: 609px; HEIGHT: 390px; OVERFLOW: hidden; border:3px #666666 solid; margin:50px 300px;}
#thingk_title {
	WIDTH: 109px; BACKGROUND-POSITION: -550px 0px; HEIGHT: 30px
}
#thingk_title A {
	WIDTH: 109px; DISPLAY: block; HEIGHT: 30px
}
#list_thinking {
	LINE-HEIGHT: 1.5em; WIDTH: 610px; MARGIN-LEFT: 10px; 
}
#list_thinking LI {
	BORDER-BOTTOM: #e6e6e6 1px dashed; PADDING-BOTTOM: 10px; MARGIN-BOTTOM: 10px; HEIGHT: 100px; OVERFLOW: hidden
}
.pic_border {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
.txt_thinking {
	WIDTH: 515px; HEIGHT: 70px; OVERFLOW: hidden; padding-right:10px;
}
.mb40 {
	MARGIN-BOTTOM: 40px
}
.fl {
	DISPLAY: inline; FLOAT: left
}
.p10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.txt_from {
	TEXT-ALIGN: right; PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; HEIGHT: 20px; CLEAR: both; PADDING-TOP: 5px
}
.digest {
	LINE-HEIGHT: 22px; PADDING-LEFT: 25px; BACKGROUND: url(../images/quote-grey.jpg) no-repeat 0px 0px; COLOR: #666666; FONT-SIZE: 12px
}
.mb20 {
	MARGIN-BOTTOM: 20px
}
.bg_all {
	BACKGROUND: url(../images/bg_all.png) no-repeat
}
.fr {
	DISPLAY: inline; FLOAT: right;
}
a{text-decoration:none;outline:none; color:#666666;}
a:hover{text-decoration:none}
img{border:0}

h2{
	color:#6CBD45;
	font-size:14px;
	font-weight:bold;
	padding-bottom:0.5em;
	margin:0;
}

h3{
	font-size:13px;
	font-weight:bold;
	
	
}
	#meun{color:#fff; padding-left:10px;}
#meun img{ float:left;}
#submeun{ margin-left:70px; float:left;}
#submeun li{ text-align:center;  margin-right:10px; float:left;  display:inline;}
#submeun li a{ color:#fff;height:50px; line-height:50px;  font-size:14px; font-weight:bold; text-align:center;  padding-left:15px; padding-right:15px;display:block;}
#submeun li.cur{ text-align:center; background:#82ce18; margin-right:10px;float:left;  display:inline;}
#top{
	background-color:#000;
	margin: 0em 0 10px 0em;

	border-style:solid; border-width:1px; border-color:#E5E5E5;
	height:50px;
	line-height:50px;
}
h2.subtitle{
	font-size:13px;
	float:right;
	color:#6CBD45;
	margin:0 10px;
	text-align:right;
}

h1.title{
	height:50px;    
    font-size:12px;
	background:url(logo.png) no-repeat;
	
}
h1.title a:link,h1.title a:visited,h1.title a:hover{
	color:#000;
	text-decoration:none;
}